//CSS for navigation buttons

.green {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

//CSS for navigation buttons
.playerNameTxt{
    -fx-background-color: -fx-text-box-border, -fx-background ;
        -fx-background-insets: 0, 0 0 1 0 ;
        -fx-background-radius: 0 ;
}
.playerNameTxt:focused{
    -fx-background-color: -fx-focus-color, -fx-background ;
}

#color1:hover, #color2:hover, #color3:hover{

        -fx-stroke: black;
        -fx-stroke-width: 5;
}